chromadb==0.4.13
InstructorEmbedding==1.0.1
langchain==0.0.308
openai==0.28.1
pypdf==3.16.2
rank-bm25==0.2.2
sentence-transformers==2.2.2
tiktoken==0.5.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
together==0.2.4
tqdm==4.66.1