@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Your desired color */
  }

  html::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Your desired color */
  }
}

@layer components {
  /* .tiptap h1 {
    @apply text-5xl font-bold my-4;
  }
  .tiptap h2 {
    @apply text-4xl font-bold my-4;
  }
  .tiptap h3 {
    @apply text-3xl font-bold my-4;
  }
  .tiptap h4 {
    @apply text-2xl font-bold my-4;
  }
  .tiptap h5 {
    @apply text-xl font-bold my-4;
  }
  .tiptap h6 {
    @apply text-lg font-bold my-4;
  }

  .tiptap p {
    @apply my-2;
  } */

  .input {
    @apply py-1 px-5  text-black dark:text-white border-[1px] outline-none;
  }
  .formButton {
    @apply bg-blue-600 w-fit px-3 py-1 rounded-md self-end text-white/80;
  }
  .inputImage {
    @apply text-gray-300 text-3xl cursor-pointer self-end mr-4;
  }
  .form {
    @apply flex flex-col w-[750px] bg-white/[.03] gap-y-5 py-5 px-12 backdrop-blur-[3px];
  }

  .newMind {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 inline-block text-transparent bg-clip-text;
  }

  .newMind {
    @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%  inline-block text-transparent bg-clip-text;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome */
  overscroll-behavior: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overscroll-behavior: none;
}

.viewerWindow {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.three-dots::before {
  content: "•\A•\A•";
  white-space: pre;
  text-align: center;
  line-height: 0.8;
  display: block;
  font-size: 7px;
  color: #6b7280;
}

.custom-border::after {
  content: "";
  position: absolute;
  left: 0;
  height: 60%; /* Adjust as needed */
  width: 1px; /* Width of the border line */
  background-color: #ccc; /* Color of the border */
  top: 20%; /* Starts the line after the top 20% */
  bottom: 20%; /* Ends the line before the bottom 20% */
}

/* CSS to remove the border on hover for the current session */
.session-inactive:hover::after {
  content: none; /* This removes the pseudo-element border on the current session */
}

/* CSS to remove the border of the previous session when current session is hovered */
.session-inactive:hover + .session-inactive::after {
  content: none; /* This removes the pseudo-element border on the previous session */
}

.session-active + .session-inactive::after {
  content: none;
}

textarea {
  resize: vertical;
  overflow: auto;
}

.rpv-core__inner-pages {
  scrollbar-gutter: stable;
}

.ProseMirror:focus {
  outline: none;
}

/* for placeholder */
.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.has-focus {
  /* add shadow */
  border-radius: 9px;
  /* add a 1px black outline */
  outline: 1px solid rgb(227, 227, 227);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
